<nav class="navbar navbar-expand-lg bg-dark">
    <a style="color:white" class="navbar-brand" routerLink="/home">SHRI GAJANAN HEALTHCARE HOSPITAL</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a style="color:white" class="nav-link" routerLink="/doctor">Back<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
</nav>
<div class="container" style="margin-top:40px">
    <div class="card">
        <br>
        <h2 class="text-center">Add New Patient</h2>
        <hr>
        <div class="card-body">
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Name :</label>
                    <input type="text" id="name" class="form-control" name="name" placeholder="Enter the Name" [(ngModel)]="patient.name">
                </div>
                <div class="form-group">
                    <label>Age :</label>
                    <input type="text" id="age" class="form-control" name="age" placeholder="Enter the Age" [(ngModel)]="patient.age">
                </div>
                <div class="form-group">
                    <label>Blood Group :</label>
                    <input type="text" id="blood_group" class="form-control" name="blood_group" placeholder="Enter the Blood Group" [(ngModel)]="patient.blood_group">
                </div>
                <div class="form-group">
                    <label>Prescription :</label>
                    <input type="text" id="prescription" class="form-control" name="prescription" placeholder="Enter the Prescription" [(ngModel)]="patient.prescription">
                </div>
                <div class="form-group">
                    <label>Dose :</label>
                    <input type="text" id="dose" class="form-control" name="dose" placeholder="Enter the Dose" [(ngModel)]="patient.dose">
                </div>
                <div class="form-group">
                    <label>Fees :</label>
                    <input type="text" id="fees" class="form-control" name="fees" placeholder="Enter the Fees" [(ngModel)]="patient.fees">
                </div>
                <div class="form-group">
                    <label>Urgency :</label>
                    <input type="text" id="urgency" class="form-control" name="urgency" placeholder="Enter the Urgency" [(ngModel)]="patient.urgency">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>